
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";


body {
  background:#F6ECDA;
}

input[type="text"] {
  width: 150%;
  padding: 1.5rem;
  border: 1px solid #858B67;
  border-radius: 5rem;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

::placeholder {

  color: #858B67;
  text-align: end;
  font-size: 1.5rem;

}

  .resultProductContainer::-webkit-scrollbar {
    width: 8px;
    height: 20px;
    border-radius: 10px;
    background: #e0cbcb;
  }
  .resultProductContainer::-webkit-scrollbar-thumb {
    background: #d2a231;
    border-radius: 10px;
  }
